* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #292929;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#main {
  width: 80%;
  margin: auto;
  text-align: center;
}

header {
  margin: 10px;
}

button {
  width: 80px;
  height: 50px;
  margin: 10px;
  font-size: 1em;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

.button-up {
  background-color: #32CD32;
}

.button-down {
  background-color: #c93030;
}

.compose-container {
  text-align: left;
  width: 60%;
  margin: auto;
}

table {
  width: 60%;
  margin: auto;
  color: black;
  background-image: linear-gradient(#c8d2d3, #c3b2ce);
}

tbody {
  width: 100%;
  display: table;
}

td {
  width: 33%;
  text-align: center;
}

table td + td {
  border-left: 2px solid white;
}

.red {
  color: #c93030;
}

.green {
  color: #17a417;
}

.white {
  color: white;
}

.grey {
  color: #D3D3D3;
}

.compose-container {
  margin: 15px auto 30px auto;
}

.compose-container-heading {
  background: #4b9faa;
  padding: 2px 10px 2px 10px;
  border-radius: 4px;
}

.compose-file-dir-path {
  text-align: right;
}

.compose-files-list-error {
  background: #ff7272;
  padding: 10px 15px 10px 15px;
  color: black;
  border-radius: 6px;
  vertical-align: middle;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.compose-file-error {
  display: flex;
  align-items: center;
  margin: 15px auto 15px auto;
  background: #ff7272;
  padding: 10px 15px 10px 15px;
  border-radius: 6px;
}

.error-svg {
  height: 50px;
}